.login_container {
  background: url("../../assets/img/bg_login.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.logo_container {
  background-color: white;
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 30px rgb(202, 4, 4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(224, 224, 224, 0.568);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.9px);
  -webkit-backdrop-filter: blur(12.9px);
  padding: 25px;
  min-width: 700px;
  margin-top: -20px;
}

.login_form {
  width: 300px;
  padding: 50px 20px;
  border-radius: 15px;
}

.msg {
  margin: 0 auto;
}

.logo {
  width: 120px !important;
}

.logo2{
  width: 500px;
  height: 280px;
  margin-top: -140px;
}

.senha-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.senha-container div {
  position: relative;
  width: 100%;
}

.senha-container input {
  width: 100%;
  padding-right: 45px; /* Garante espaço para o botão */
}

.senha-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
